
.adm-cine-home {
    height: 100vh;
    background-image: url(../img/cine-1.jpg);
    background-position: no-repeat  center;
    background-size: cover;
    
}


.adm-cine-container {
<<<<<<< HEAD
    /*height: 100vh ;
    background-image: url(../img/cine-2.jpg);   */
    height: 100% ;
=======

    height: 100% ;
    
>>>>>>> feabed0eae26b1af71930b4928ee22cca2454c7f
}


.adm-cine-row {
<<<<<<< HEAD
    height: 100%;
=======
    height:  auto ;
>>>>>>> feabed0eae26b1af71930b4928ee22cca2454c7f
    background-color: rgb(173, 53, 53);
}


#adm-cine{
    height: 100vmin;
    /*
    background-image: url(../img/cine-2.jpg);
    */
    background-position: no-repeat  center;
    background-size: cover;
}

/*
#caja0{

    height: auto;

   background-color: rgb(139, 23, 23);
}

*/

.caja1{
    background-color: khaki;
}

.caja2{
    background-color: lightcoral;
    
}

.caja3{
        background-color: lightseagreen;

}




.footer-class{
    background-color: royalblue;
    height: 100px;
}


























