

.btn-form {
    color: #fff;
    background-color: #f72501;
    border-color: red;
    border-radius: 5px;
    font-weight: bolder;
}

.btn-peliculas{
    color: #fff;
    background-color: #970f97;
    border-color: red;
    border-radius: 5px;
    font-weight: bolder;
}
