
.form-control{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10px;
    border: 2px solid #000000; 
}

label{
    text-align: center;
    font-weight: bold;
    display: inline-block;
}



.subrayadoh2{ 
    padding-top: 5px;
    border-bottom: 5px solid #f72501;
    padding-bottom: 5px;
    font-family: 'Archivo Black', sans-serif;  
}




.formulario-registro{
    padding-bottom: 50px;
}

.formulario-registro-facebook{
    padding:30px; 
}