#caja{

    text-align: center;

    
}


#formulario-index{

    background-image: url(https://media3.giphy.com/media/fJKG1UTK7k64w/giphy.gif?cid=ecf05e47dyn0se3qwr70kqs72w430bdy8j1lg24jcbqqm9hv&rid=giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 800px;

}









#inicio{

    height: 920px;

    
    background-image: url(../img/cine-1.jpg);
    
    background-position: no-repeat  center;

    background-size: cover;


}


#adm-cine{

    height: 100vmin;

    /*
    background-image: url(../img/cine-2.jpg);
    */
    background-position: no-repeat  center;

    background-size: cover;
    
}

/*
#caja0{

    height: auto;

   background-color: rgb(139, 23, 23);
}

*/

#caja1{

   
    background-color: khaki;
    
}

#caja2{
    
    background-color: lightcoral;
    
}

#caja3{
 
        background-color: lightseagreen;

}































