
.adm-cine-home {
    height: 100vh;
    background-image: url(../img/cine-1.jpg);
    background-position: no-repeat  center;
    background-size: cover;
    
}


.adm-cine-container {
    height: 100vh ;
    background-image: url(../img/cine-2.jpg);   
}


.adm-cine-row {
    height: 100%;
}


#adm-cine{
    height: 100vmin;
    /*
    background-image: url(../img/cine-2.jpg);
    */
    background-position: no-repeat  center;
    background-size: cover;
}

/*
#caja0{

    height: auto;

   background-color: rgb(139, 23, 23);
}

*/

.caja1{
    background-color: khaki;
}

.caja2{
    background-color: lightcoral;
    
}

.caja3{
        background-color: lightseagreen;

}




.footer-class{
    background-color: royalblue;
    height: 100px;
}


























